html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body, html {
    overflow: hidden;
    font-family: 'PT Serif', serif;
    font-size: 20px;
    color: #424249;
    line-height: 30px;
    background-color: #F8F8F8;
    -webkit-font-smoothing: antialiased;
}

* {
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* header formatting */
h1 {
    font-size: 100px;
    line-height: 100px;
    -webkit-font-smoothing: antialiased;
}

h2 {
    font-size: 60px;
    line-height: 60px;
    -webkit-font-smoothing: antialiased;
}
h3 {
    font-size: 30px;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
}
h4 {
    font-size: 20px;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
}
h5 {
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
h6 {
    font-size: 15px;
    margin-bottom: 10px;
}