/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic);

@import url(http://fonts.googleapis.com/css?family=Cardo:400,400italic,700);

@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700);

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,400italic);

/* Main Styles */

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-font-smoothing: antialiased;
}

body {
	overflow-x: hidden;
}

section {
	background-size: cover;
}

img {
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
    -webkit-user-drag: none;
    user-drag: none;
}

a, 
a:hover, 
a:active, 
a:focus {
	text-decoration: none;
	outline: none;
	cursor: pointer;
}

.white-layout {
	background-color: #F8F8F8;
}

.red-layout {
	background-color: #D73114;
}

/* Classes: Positions */

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}

.f-left {
	float: left;
}

.f-right {
	float: right;
}

.z-1 {
	z-index: 1;
}

/* Classes: Div Types */

.container {
	width: auto;
	height: auto;
	padding: 30px 0;
}

.header {
	width: auto;
	height: auto;
	font-size: 60px;
	margin: 0 auto;
	padding-top: 20px;
}

#splash {
	background-image: url('../images/photo9.jpg');
}

.scroll-icon {
	display: block;
	margin: 10px;
	color: white;
}

#home {
	padding-top: 60px;
}

#definition {
	width: 40%;
	max-width: 1170px;
	text-align: left;
}

#juma {
	font-size: 100px;
	line-height: 100px;
}

#djuma {
	font-size: 30px;
	color: #36363c;
}

#desc {
	margin: 10px 0;
}

.sub-header {
	width: auto;
	height: auto;
	font-size: 30px;
	font-weight: 400;
	padding: 10px 0;
}

.sub-text {
	width: 80%;
	height: auto;
	max-width: 1170px;
	position: relative;
	margin: 0 auto;
	padding: 10px 0;
	line-height: 30px;
	font-size: 20px;
}

.call-to-action {
	padding: 20px;
}

.action-button {
	cursor: pointer;
	width: 40%;
	min-width: 150px;
	height: 35px;
	font-size: 18px;
	margin: auto;
	padding: 15px 0 0 0;
	color: #D73114;
	background-color: #F8F8F8;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;

	border: 2px solid #D73114;
}

.action-button:hover {
	background-color: #D73114;
	color: #F8F8F8;
}

.toggler {
	position: relative;
}

.expand-form {
	width: 40%;
	height: 400px;
	background-color: #D73114;
	color: #F8F8F8;
}

.divider {
	font-size: 60px;
	height: 200px;
}

.divider-box {
	width: 250px;
	background-color: #D73114;
	color: #F8F8F8;
	padding: 10px 0px;
	margin: 20px auto;
}

#food {
	background-image: url('../images/photo1.jpg');
	background-position: 50% 60%;
}

#farm {
	background-image: url('../images/photo2.jpg');
	background-position: 50% 70%;
}

#crew {
	background-image: url('../images/photo10.jpg');
	background-position: 50% 10%;
}

#aidan {
	width: 400px;
	margin: auto;
}

.mail {
	font-size: 25px;
	display: block;
	color: black;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

.mail:hover {
	color: #D73114;
}

.footer-icon {
	color: white;
	background: #D73114;
	border: 1px solid #D73114;
	display: inline-block;
	width: 62px;
	height: 62px;
	margin: 20px 10px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

.footer-icon:hover {
	color: #D73114;
	background: white;
}

i {
	padding-top: 13px;
}

/* Classes: Div Formatting */

.full-screen {
	width: 100%;
	height: 100%;
}

.full-width {
	width: 100%;
	max-width: 100%;
	left: 0;
	top: 0;
}

.auto-height {
	height: auto;
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}

.white-bg {
	background-color: #F8F8F8;
}

.red-bg {
	background-color: #D73114;
}

/* Classes: Text Formatting */

.t-center {
	text-align: center;
}

.t-justify {
	text-align: justify;
}

.t-left {
	text-align: left:;
}

.cardo {
	font-family: 'Cardo', serif;
}

.vollkorn {
	font-family: 'Vollkorn', serif;
}

.oswald {
	font-family: 'Oswald', sans-serif;
}

.ptserif {
	font-family: 'PT Serif', serif;
}

.normal {
	font-weight: 400;
}

.light {
	font-weight: 300;
}

.bold {
	font-weight: 700;
}

.italic {
	font-style: italic;
}

.white {
	color: #F8F8F8;
}

.red {
	color: #D73114;
}

.dark {
	color: #36363c;
}

.round {
	border-radius: 100%;
}
