/* Fonts
--------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,400italic);

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

/* Main styles
--------------------------------------------- */

body, html {
    overflow: hidden;
    font-family: 'PT Serif', serif;
    font-size: 20px;
    color: #424249;
    line-height: 30px;
    background-color: #F8F8F8;
    -webkit-font-smoothing: antialiased;
}



a {
    text-decoration: none;
    cursor: pointer;
}



 /* centre the content in the parallax layers */
.content {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.content--bg {
    text-align: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.blurb-container {
    width: 40vw;
}

.section-container {
    width: 50vw;
    margin-bottom: 30px;
}

.button {
    width: 40vw;
    min-width: 150px;
    min-height: 35px;
    cursor: pointer;
    padding: 10px 0;
    margin: 15px auto;
    position: relative;
    background-color: #F8F8F8;
    color: #D73114;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;

    border: 2px solid #D73114;
}

.button:hover {
    background-color: #D73114;
    color: #F8F8F8;
}

.form {
    cursor: default;
}

.title-box {
    width: 260px;
    background-color: #D73114;
    color: #F8F8F8;
    padding: 10px 0px;
}

.footer-icon {
    color: #D73114;
    background: #F8F8F8;
    border: 2px solid #D73114;
    display: inline-block;
    width: 62px;
    height: 62px;
    margin: 0 12px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.footer-icon:hover {
    color: #F8F8F8;
    background: #D73114;
}

.icon {
    padding-top: 13px;
}

/* Addable classes
--------------------------------------------- */

.relative {
    position: relative;
}

.white-layout {
    background-color: #F8F8F8;
}

.red {
    color: #D73114;
}

.dark {
    color: #424249;
}

.t-center {
    text-align: center;
}

.t-left {
    text-align: left;
}

.t-justify {
    text-align: justify;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

.ptserif {
    font-family: 'PT Serif', serif;
}

.light {
    font-weight: 300;
}

.normal {
    font-weight: 400;
}

.round {
    border-radius: 100%;
}

.fa-caret-right {
    position: absolute;
    left: 20px;
    margin-top: 6px;
}

.fa-caret-down {
    position: absolute;
    left: 20px;
    margin-top: 6px;
}

/* Specific elements
--------------------------------------------- */
#splash {
    background-image: url('../images/photo1.jpg');
    background-size: cover;
}

#logo {

}

#bgvid {
    z-index: -1;
    
}

#splash-scroller {

}

#phonetic {
    margin: 10px 0px;
}

#blurb {

}

#blurb-scroller {

}

#bg1 {
    top: 0vh;
}

#photo1 {
    width: 100vw;
    height: 100vh;
}

#bg2 {
    top: 33vh;
}

#photo2 {
    width: 100vw;
    height: 100vh;
}

#bg3 {
    top: 20vh;
    height: 70vh;
    overflow: hidden;
}

#photo3 {
    width: 100vw;
    height: 100vh;
    clip: 40vh 0;
}

#contact {
    margin: 15px 0;
}

#mail {
    margin-bottom: 15px;
}

/* Parallax base styles
--------------------------------------------- */

.parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
}

.parallax__group--main {
    position: relative;
    min-height: 500px; /* fallback for older browsers */
    min-height: 100vh;
    background-color: #F8F8F8;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallax__group--bg {
    position: relative;
    height: 200px; /* fallback for older browsers */
    height: 40vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallax__group--fg {
    position: relative;
    height: 300px; /* fallback for older browsers */
    height: 60vh;
    background-color: #F8F8F8;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.parallax__layer--back {
    -webkit-transform: translateZ(-150px) scale(1.5);
    transform: translateZ(-150px) scale(1.5);
}

/* style the groups
--------------------------------------------- */

#group1 {
    overflow: hidden;
    z-index: 4;
}

#group2 {
    z-index: 3;
    height: 20vh;
}

#group3 {
    z-index: 1;
}

#group4 {
    z-index: 4;
}

#group5 {
    z-index: 2;
}

#group6 {
    z-index: 4;
}

#group7 {
    z-index: 3;
}

#group8 {
    z-index: 4;
}

/* Debugger styles - used to show the effect
--------------------------------------------- */

.debug {
    position: fixed;
    top: 0;
    left: .5em;
    z-index: 999;
    background: rgba(0,0,0,.85);
    color: #fff;
    padding: .5em;
    border-radius: 0 0 5px 5px;
}
.debug-on .parallax__group--main {
    -webkit-transform: translate3d(800px, 0, -800px) rotateY(30deg);
    transform: translate3d(700px, 0, -800px) rotateY(30deg);
}

.debug-on .parallax__group--bg {
    -webkit-transform: translate3d(800px, 0, -800px) rotateY(30deg);
    transform: translate3d(700px, 0, -800px) rotateY(30deg);
}

.debug-on .parallax__group--fg {
    -webkit-transform: translate3d(800px, 0, -800px) rotateY(30deg);
    transform: translate3d(700px, 0, -800px) rotateY(30deg);
}

.debug-on .parallax__layer {
    box-shadow: 0 0 0 2px #000;
    opacity: 0.9;
}
.parallax__group--main, .parallax__group--bg, .parallax__group--fg {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}